<html lang="ja">
  <head>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <p v-once>
        {{ message }}
      </p>
      <button v-on:click="clickHandler">
        Click!
      </button>
      <p v-pre>
        {{ message }}
      </p>
      <p v-html="message2">
        {{ message2 }}
      </p>
      <p v-text="message">
        <!-- {{ message }} -->
      </p>
      <p>
        "{{ message }}"
      </p>
      <p>
        {{ message }}
      </p>
      <p>
        {{ number + 1 }}
      </p>
      <p>
        {{ message.split('').reverse().join('') }}
      </p>
      <p>
        {{ ok? 'YES' : 'NO' }}
      </p>
      <p>
        <!-- 動作しない 式ではなく文となるため動作しない -->
        <!-- {{ var x = 1 }} -->
        <!-- 動作しない -->
        <!-- {{ if(ok) { return message } }} -->
        {{ ok? message : '' }}
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>