<html lang="ja">
  <head>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <p>
        {{ message }}
      </p>
      <!-- v-model利用時は属性は無視される value checked selectedなど -->
      <input type="text" v-model="message" value="hogehoge">
      
      <pre>{{ message }}</pre>
      <!-- textareaではマスタッシュ構文でデータバインディングできない -->
      <!-- <textarea>{{ message }}</textarea> -->
      <textarea v-model="message"></textarea>
      
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>

      <input type="checkbox" id="checkbox" value="Red" v-model="colors">
      <label for="Red">Red</label>
      <input type="checkbox" id="checkbox" value="Green" v-model="colors">
      <label for="Green">Green</label>
      <input type="checkbox" id="checkbox" value="Blue" v-model="colors">
      <label for="Blue">Blue</label>
      <p>
        {{ colors }}
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>