<html lang="ja">
  <head>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <p>
        {{ counter }}
      </p>
      <button v-on:click="counter++">
        click
      </button>
      <button v-on:click="clickHandler($event, 'vue.js')">
        click
      </button>
      <p>
        {{ message }}
      </p>
      <button v-on:click.once="clickHandler">
        Now
      </button>
      <p>
        {{ message }}
      </p>
      <!-- <input type="text" v-on:keyup.27="clear" v-model="message"> -->
      <!-- keyCode 27でescはわかりにくいのでescで指定することもできる -->
      <!-- <input type="text" v-on:keyup.esc="clear" v-model="message"> -->
      <!-- 複数のキーをor条件で指定 esc space up -->
      <!-- <input type="text" v-on:keyup.esc.space.up="clear" v-model="message"> -->
      <input type="text" v-on:keyup.ctrl.67="clear" v-model="message">
      <p>
        {{ message }}
      </p>
      <div v-on:click.shift="clickHandler">
        click me
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>