<html lang="ja">
  <head>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <p v-if="toggle">
        YES
      </p>
      <p v-else="toggle">
        NO
      </p>
      <p v-if="color === 'red'">
        STOP
      </p>
      <p v-else-if="color === 'yellow'">
        Caution'
      </p>
      <p v-else-if="color === 'blue'">
        Go
      </p>
      <p v-else="color">
        NOT red/yellow/blue
      </p>
      <p v-show="toggle">
        Hello Vue.js
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>